@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global style of website  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    outline: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    cursor: pointer;
    background: #FF900E;
}

section {
    padding: 80px 0;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

/* header section design here  */
#header {
    background: #fff4e7;
}

nav {
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav ul li {
    padding-left: 70px;
}

nav ul li a {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

/* banner section design */

.banner {
    text-align: center;
    padding: 50px 0;
}

.banner-content {
    width: 870px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.banner-title {
    margin: 0 100px;
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner img {
    width: 100%;
}


/* teams section design  */

.team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-img {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.team-img img {
    max-width: 300px;
    height: 300px;
}

.team-content {
    padding-left: 70px;
}

.team-title {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title .of-our {
    color: #131313;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}











/* responsive section  */

/* mobile screen responsive */
@media screen and (max-width: 576px) {
    .container {
        width: 100% !important;
        overflow: hidden;
    }

    nav {
        gap: 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
    }
    .team-img {
        grid-template-columns:  1fr;
    }
    nav ul li {
        padding: 0 13px;
    }

    .banner-content {
        max-width: 100%;
    }

    .banner {
        padding-top: 5px;
    }

    .banner-title {
        font-size: 2rem;
        margin: 20px 0;
    }

    .banner-description {
        margin-bottom: 25px;
        padding: 0 5px;
    }

    img {
        max-width: 100%;
    }

    .team-img{
        margin-bottom: 30px;
    }
    .team-content{
        padding-left: 30px;
    }

}

/* medium screen responsive  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    nav {
        flex-direction: column;
        gap: 30px;
    }

    nav ul li {
        padding: 0 20px;
    }

    .banner-title {
        margin: 50px 0px 30px 0px;
    }

    .banner-content {
        max-width: 100%;
    }
    .team-img {
        grid-template-columns:  2fr;
    }
}